/*
app variables 
*/

:root {
  /* background colors */
  --calculator-background-color: #247ba0;
  --action-key-color: #fabc3c;
  --action-key-color-hover: #f55536;
  --display-background-color: #1d1f1f;
  --number-key-color: #1b2845;
  --number-key-color-hover: #5899e2;
  --submit-key-color: #ebebd3;
  --submit-key-color-hover: #3c3c3b;

  /* font */
  --main-font: "Orbitron", sans-serif;

  /* font colors */
  --display-text-color: #ffe066;
  --key-text-color: #ff6542;

  /* font size */
  --display-text-size: 4em;
  --key-text-size: 3em;

  /* font weights */
  --display-text-weight: 400;
  --key-text-weight: 700;

  /* calculator dimensions */
  --calculator-height: 72%;
  --calculator-width: 36%;

  /* display dimensions */
  --display-height: 24%;
  --display-width: 92%;

  /* keypad dimensions */
  --keypad-height: 72%;
  --keypad-width: 96%;
}

/*
media query for tablet or smaller screen 
*/

@media screen and (max-width: 1024px) {
  :root {
    /* calculator dimensions */
    --calculator-height: 100%;
    --calculator-width: 100%;
    --display-text-size: 10em;
    --key-text-size: 3em;
  }
}

/*
app CSS reset
*/

body,
div,
p {
  margin: 0;
  padding: 0;
}
